<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="margin-left: 20px;">
            b) Ilmu Sosial : Dalam penelitian sosial, peneliti sering menggunakan SPLDV untuk memodelkan hubungan antara dua variabel. 
            Misalnya, hubungan antara pendidikan dan pendapatan, atau antara pengeluaran dan konsumsi. SPLDV membantu dalam memprediksi nilai variabel yang tidak diketahui berdasarkan variabel lainnya.
        </p>
        <p style="margin-left: 20px;">
            c) Teknik : Dalam rekayasa, SPLDV digunakan untuk merancang dan mengoptimalkan sistem. 
            Misalnya, dalam teknik sipil, insinyur dapat menggunakan SPLDV untuk menentukan kombinasi material yang tepat dalam membangun struktur. 
            Selain itu, dalam analisis jaringan listrik, SPLDV dapat membantu memecahkan masalah distribusi daya.
        </p>
        <p style="margin-left: 20px;">
            d) Ilmu Komputer: Dalam ilmu komputer, SPLDV digunakan dalam pengembangan algoritma dan pemrograman. 
            Misalnya, dalam pemrograman optimasi, SPLDV dapat membantu menemukan solusi terbaik untuk masalah yang melibatkan beberapa variabel. 
            Selain itu, SPLDV juga digunakan dalam analisis data dan machine learning untuk memodelkan hubungan antara fitur dalam dataset. 
        </p>
        <p style="margin-left: 20px;">
            e) Kesehatan: SPLDV digunakan untuk memodelkan penyebaran penyakit dalam populasi. 
            Misalnya, hubungan antara jumlah kontak sosial dan tingkat penularan penyakit menular dapat dianalisis menggunakan SPLDV
        </p>
        <p style="text-indent: 20px;">
            SPLDV memiliki peran penting dalam berbagai bidang. Pemahaman dan kemampuan menerapkan SPLDV membantu individu memecahkan masalah, 
            membuat keputusan yang lebih baik, serta meningkatkan efisiensi di banyak sektor, dari ekonomi hingga kesehatan
        </p>
    </div>
</div>
