<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Secara umum, persamaan melibatkan operasi matematis yang memerlukan penyelesaian untuk menemukan nilai variabel, sedangkan kesamaan menunjukkan hubungan antara dua ekspresi yang sudah jelas benar atau salah tanpa perlu langkah penyelesaian lebih lanjut. 
            Persamaan linier satu variabel adalah persamaan yang dapat ditulis dalam bentuk \(ax=b\) dengan \(a\neq 0\) dan \(b\) konstanta. 
        </p>
        <p style="text-indent: 20px;">
            Berdasarkan tabel 4.1, semua contoh persamaan tersebut termasuk dalam kategori persamaan linier. 
            Penyelesaian persamaan linier dapat dilakukan dengan menerapkan prinsip-prinsip yang merujuk pada sifat operasi bilangan yang telah dijelaskan sebelumnya. 
            Beberapa prinsip penting yang sering digunakan dalam penyelesaian persamaan linier antara lain:
        </p>
        <p><strong>1. Prinsip Pemindahan Bilangan dalam Penjumlahan</strong></p>
        <p style="text-indent: 20px;">
            Jika \(a+b=c\) maka \(a=c+(-b)\). Perhatikan bahwa sifat ini dapat dipahami sebagai pemindahan \(b\) dari ruas kiri ke ruas kanan, dengan tanda yang berubah menjadi \(-b\). 
            Prinsip ini didasarkan pada sifat invers dalam operasi penjumlahan. Demikian pula, hal yang sama berlaku jika \(b\) berada di ruas kanan. 
        </p>
        <p><strong>2. Prinsip Pemindahan Bilangan dalam Perkalian</strong></p>
        <p style="text-indent: 20px;">
            Jika \(ab=c\),maka \(a=(\frac{1}{b})c\). Prinsip ini dapat dipahami sebagai pemindahan \(b\) dari ruas kiri ke ruas kanan, dengan bentuk berubah menjadi \(\frac{1}{b}\). 
            Demikian pula, sifat ini berlaku sebaliknya jika \(b\) berada di ruas kanan
        </p>
    </div>
</div>
