<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="margin-left: 20px;">
            6. Kegiatan Usaha: Jika Anda menjalankan usaha, misalnya menjual dua jenis produk, Anda dapat menggunakan SPLDV untuk menentukan jumlah produk yang harus diproduksi berdasarkan permintaan.
        </p>
        <p style="text-indent: 20px;">
            Masih banyak aplikasi lain dari Sistem Persamaan Linear Dua Variabel (SPLDV) dalam kehidupan sehari-hari yang penting dan relevan. 
            Aplikasi SPLDV sangat luas dan beragam, mencakup berbagai bidang, mulai dari pengelolaan keuangan pribadi hingga perencanaan kegiatan, analisis data, dan pengambilan keputusan.
        </p>
        <p style="text-indent: 20px;">
            SPLDV menyediakan alat yang berguna untuk menyelesaikan berbagai masalah praktis, membuat keputusan yang lebih baik, dan merencanakan berbagai aspek kehidupan dengan lebih terstruktur. 
            Penggunaan SPLDV dalam kehidupan sehari-hari membantu individu dalam merencanakan anggaran, mengelola waktu, serta mengoptimalkan sumber daya yang ada. Dengan memahami dan menerapkan SPLDV, 
            Anda tidak hanya dapat menyelesaikan masalah-masalah praktis tetapi juga meningkatkan keterampilan berpikir logis dan analitis yang sangat penting di era modern ini.
        </p>
        <p style="text-indent: 20px;">
            Dengan demikian, SPLDV menjadi alat yang sangat penting dalam berbagai konteks kehidupan sehari-hari, membantu individu untuk membuat keputusan yang lebih baik, lebih terinformasi, 
            dan lebih strategis. Menguasai konsep ini akan memberikan keuntungan kompetitif, baik dalam kehidupan pribadi maupun profesional. Selain itu, Anda dapat menyelesaikan berbagai masalah praktis, 
            merencanakan dan mengelola aspek kehidupan dengan lebih efisien, serta meningkatkan keterampilan berpikir logis dan analitis.
        </p>
    </div>
</div>
