<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p>3. \(c\) dan \(f\) adalah konstanta yang menunjukkan nilai tetap pada setiap persamaan</p>
        <p>Sebagai contoh, dalam sistem persamaan:</p>
        <p class="text-center justify-center">
            \(2x+3y=12\)
        </p>
        <p class="text-center justify-center">
            \(x-4y=-2\)
        </p>
        <p style="text-indent: 20px;">
            Kita dapat mengidentifikasi bahwa koefisien untuk variabel \(x\) pada persamaan pertama adalah \(2\), dan untuk \(y\) adalah \(3\).
            Pada persamaan kedua, koefisien untuk \(x\) adalah \(1\), dan untuk \(y\) adalah \(-4\). Solusi dari sistem ini adalah pasangan nilai \((x,y)\) yang memenuhi kedua persamaan secara bersamaan.
        </p>
        <p style="text-indent: 20px;">
            Metode penyelesaian SPLDV ini, seperti yang telah disebutkan sebelumnya, dapat dilakukan dengan beberapa cara, termasuk menggunakan grafik, metode subtitusi, atau eliminasi. 
            Setiap metode ini memberikan cara yang berbeda untuk menemukan nilai-nilai variabel \(x\) dan \(y\), serta memperlihatkan hubungan antara kedua variabel tersebut dalam konteks masalah yang lebih kompleks.
        </p>
        <p class="font-bold">D. Representasi Grafis dari SPLDV</p>
        <p style="text-indent: 20px;">
            Setelah kita memahami bentuk umum SPLDV dan cara menemukan solusinya, langkah berikutnya adalah merepresentasikan sistem persamaan ini dalam bentuk grafis. <strong>Representasi grafis</strong> SPLDV adalah cara yang efektif untuk visualisasikan solusi dari dua persamaan linear secara bersamaan dan memahami hubungan antara kedua variabel \(x\) dan \(y\). 
            Untuk menggambar grafik dari SPLDV, kita dapat mengikuti langkah-langkah berikut:
        </p>
    </div>
</div>
