<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Selanjutnya kita coba melihat pengertian variabel ini  dalam konteks kalimat matematika. Perhatikan kalimat-kalimat berikut:
        </p>
        <li>
            <ul>1. Suatu bilangan ditambah lima.</ul>
            <ul>2. Suatu bilangan dikurangi empat.</ul>
            <ul>3. Suatu bilangan dikali dua.</ul>
            <ul>4. Suatu bilangan ditambah enam hasilnya tujuh.</ul>
            <ul>5. Dua kali suatu bilangan  ditambah empat adalah dua belas.</ul>
        </li>
        <p style="text-indent: 20px;">
            Kalimat-kalimat di atas dalam matematika dapat dituliskan menggunakan simbol-simbol sehingga menjadi lebih ringkas. 
            Setiap kalimat di atas menginformasikan ada bilangan yang belum diketahui dalam kata ‘suatu bilangan‘. 
            Dalam aljabar suatu bilangan belum diketahui biasanya disimbolkan dengan huruf \(x\) dan disebut variabel. Simbol untuk variabel tidak dibatasi hanya menggunakan huruf \(x\). 
            Kita juga dapat menggunakan karakter atau huruf lain untuk mewakili variabel seperti \(y, z, p, \alpha, \beta\) dan lain-lain. 
            Perhatikan bahwa setiap kalimat hanya terdapat satu bilangan yang belum diketahui maka kalimat-kalimat tersebut kita katakan melibatkan 1 variabel. 
            Secara umum kita dapat menghadapi kalimat-kalimat matematika yang melibatkan lebih dari 1 variabel. 
        </p>
        <p style="text-indent: 20px;">
            Kita tuliskan kalimat pertama menggunakan simbol matematika dengan melihat struktur berikut
        </p>
        <table class="border-collapse border border-slate-400 mx-auto">
            <thead>
                <tr>
                    <th class="border border-slate-300 p-1">Kata dalam kalimat</th>
                    <th class="border border-slate-300 p-1">Simbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-slate-300 p-1">Suatu bilangan</td>
                    <td class="border border-slate-300 p-1 text-center">\(x\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">ditambah</td>
                    <td class="border border-slate-300 p-1 text-center">\(+\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">lima</td>
                    <td class="border border-slate-300 p-1 text-center">\(t\)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
