<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Sebagai contoh, pada persamaan \(2x+3x=(2+3)x=5x\), suku-suku variabel dijumlahkan menjadi satu suku tunggal. 
            Jika persamaan \(ax+bx=c\) dengan \(a\neq 0, b\neq 0\) dan \(c\) bilangan yang sudah diketahui dan \(c\) adalah variabel.
            Jika \(a+b\neq 0\) maka nilai dihitung sebagai \(x=(\frac{1}{a+b})c\). Langkah-langkahnya dijelaskan sebagai berikut:
        </p>
        <p class="text-center justify-center">
            \(ax+bx=c\)
        </p>
        <p class="text-center justify-center">
            \(\iff (a+b)x=c\)
        </p>
        <p class="text-center justify-center">
            \(\iff \frac{1}{a+b}((a+b)x)=(\frac{1}{a+b})c\)
        </p>
        <p class="text-center justify-center">
            \(\iff (\frac{1}{a+b}(a+b))x=(\frac{1}{a+b})c\)
        </p>
        <p class="text-center justify-center">
            \(\iff 1x=(\frac{1}{a+b})c\)
        </p>
        <p class="text-center justify-center">
            \(\iff x=(\frac{1}{a+b})c\)
        </p>
        <p style="text-indent: 20px;">
            Proses ini menunjukkan bagaimana bentuk 3 dapat diselesaikan secara sistematis dengan memanfaatkan prinsip-prinsip operasi bilangan dan sifat distributif. 
            Persamaan linear lainnya juga dapat diselesaikan dengan menerapkan dua prinsip pemindahan bilangan untuk mencapai bentuk persamaan \(x=a\), dimana \(a\) adalah konstanta atau nilai yang sudah diketahui.
        </p>
        <p class="font-bold">B. Definisi SPLDV </p>
        <p style="text-indent: 20px;">
            Setelah membahas konsep dasar persamaan satu variabel, kini kita beralih ke pengembangan yang lebih kompleks, yaitu Sistem Persamaan Linear Dua Variabel (SPLDV). 
            Bentuk dasar persamaan atau kesamaan untuk dua variabel bekerja dengan prinsip yang serupa dengan persamaan satu variabel.
        </p>
    </div>
</div>
