<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            SPLDV terdiri dari dua atau lebih persamaan yang melibatkan dua variabel yang berbeda, dimana setiap persamaan memiliki bentuk linear. 
            Dalam SPLDV, kita mencari nilai-nilai dari kedua variabel tersebut yang memenuhi semua persamaan secara simultan.
        </p>
        <p>Sebagai contoh, pertimbangkan sistem berikut:</p>
        <p class="text-center justify-center">
            \(x+y=10 ...(1)\)
        </p>
        <p class="text-center justify-center">
            \(2x-y=3 ...(2)\)
        </p>
        <p style="text-indent: 20px;">
            Dalam sistem ini, \(x\) dan \(y\) adalah variabel yang ingin kita cari nilainya. Solusi dari SPLDV ini adalah pasangan nilai \((x,y)\) yang memenuhi kedua persamaan tersebut sekaligus. 
            Metode penyelesaian SPLDV dapat dilakukan melalui beberapa cara, seperti grafik, subtitusi, atau eliminasi, dan hasilnya memberikan kita informasi lebih dalam mengenai hubungan antara dua variabel dalam konteks masalah yang lebih kompleks.
        </p>
        <p class="font-bold">C. Bentuk Umum SPLDV </p>
        <p style="text-indent: 20px;">
            Setelah memahami konsep dasar SPLDV, kita dapat menyatakan bentuk umum dari SPLDV sebagai berikut: Bentuk umum SPLDV terdiri dari dua persamaan linear yang masing-masing dapat dituliskan dalam bentuk standar sebagai:
        </p>
        <p>1. <strong>Persamaan Pertama</strong>: \(ax+by=c\)</p>
        <p>2. <strong>Persamaan Kedua</strong>: \(dx+ey=f\)</p>
        <p>Dimana :</p>
        <p>1. \(x\) dan \(y\) adalah variabel yang dicari</p>
        <p>2. \(a, b, d\) dan \(e\) adalah koefisien yang mengalikan variabel</p>
    </div>
</div>
