<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p class="font-bold">B. Tujuan Pembelajaran</p>
        <p>
            1. Meningkatkan kemampuan dalam menyelesaikan permasalahan yang terkait dengan SPLDV
        </p>
        <p style="margin-top: 10px;">
            2. Meningkatkan kemampuan dalam menggunakan variasi metode untuk menyelesaikan SPLDV
        </p>
        <p style="margin-top: 10px;">
            3. Meningkatkan kemampuan dalam menganalisis dan menafsirkan hasil penyelesaian SPLDV
        </p>
        <p style="margin-top: 10px;">
            4. Menunjukkan kemampuan penalaran yang logis dan sistematis dalam menyelesaikan permasalahan yang terkait dengan SPLDV, seperti:
        </p>
        <p style="margin-left: 20px; margin-top: 5px;">
            a. Mengidentifikasi variabel-variabel yang terkait dalam permasalahan
        </p>
        <p style="margin-left: 20px; margin-top: 5px;">
            b. Membuat model matematika yang tepat untuk permasalahan
        </p>
        <p style="margin-left: 20px; margin-top: 5px;">
            c. Menyelesaikan sistem persamaan linier dengan dua variabel
        </p>
        <p style="margin-left: 20px; margin-top: 5px;">
            d. Menganalisis hasil penyelesaian dan membuat kesimpulan yang logis
        </p>
    </div>
</div>
