<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p class="font-bold">C. Deskripsi Umum SPLDV</p>
        <p style="text-indent: 20px;">
            SPLDV adalah kumpulan dari dua persamaan linear yang melibatkan dua variabel. Bentuk umum dari SPLDV dapat ditulis sebagai berikut:
        </p>
        <p class="text-center justify-center">
            Persamaan 1 : \( a_{1}x_{1}+b_{1}y_{1} = c_{1}\)
        </p>
        <p class="text-center justify-center">
            Persamaan 2 : \( a_{2}x_{2}+b_{2}y_{2} = c_{2}\)
        </p>
        <p style="text-indent: 20px;">
            Dimana \(x\) dan \(y\) adalah variabel yang ingin kita cari, sementara \(a_{1}\), \(b_{1}\), \(c_{1}\), \(a_{2}\), \(b_{2}\), dan \(c_{2}\)
            adalah koefisien yang merupakan bilangan real. Tujuan dari SPLDV adalah untuk menemukan nilai \(x\) dan \(y\) yang memenuhi kedua persamaan tersebut secara simultan.
            Dalam e-modul ini, kita akan mengeksplorasi lebih dalam tentang SPLDV, dari sejarahnya, metode penyelesaian, hingga aplikasinya dalam kehidupan sehari-hari.
            Melalui pendekatan yang terstruktur dan interaktif, diharapkan pembaca dapat memahami SPLDV dengan lebih baik dan dapat menerapkannya dalam konteks yang relevan.
        </p>
    </div>
</div>
