<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p class="font-bold">C. Relevansi SPLDV dalam Kurikulum </p>
        <p style="text-indent: 20px;">
            Relevansi Sistem Persamaan Linear Dua Variabel (SPLDV) dalam kurikulum pendidikan, terutama dalam pendidikan matematika, sangat penting. SPLDV merupakan salah satu topik dasar dalam aljabar yang memberikan pemahaman tentang hubungan antara dua variabel. 
            Pemahaman ini menjadi fondasi untuk mempelajari konsep matematika yang lebih kompleks, seperti sistem persamaan linear dengan lebih dari dua variabel dan konsep lain dalam aljabar lanjutan. Memahami SPLDV membantu siswa mengembangkan keterampilan pemecahan masalah. 
            Siswa diajarkan untuk menganalisis situasi, menyusun persamaan, dan mencari solusi, yang merupakan keterampilan yang sangat penting dalam kehidupan sehari-hari dan dunia kerja.
        </p>
        <p style="text-indent: 20px;">
            SPLDV memiliki banyak aplikasi dalam berbagai bidang, termasuk ekonomi, ilmu sosial, dan teknik. 
            Mengajarkan SPLDV memberikan siswa keterampilan untuk menerapkan konsep matematika dalam situasi nyata, seperti analisis biaya, perencanaan kegiatan, dan optimasi sumber daya.
        </p>
        <p style="text-indent: 20px;">
            Proses penyelesaian SPLDV mendorong siswa untuk berpikir kritis dan analitis. Siswa diajarkan untuk mengevaluasi berbagai metode penyelesaian dan memilih metode yang paling sesuai dengan konteks masalah, yang sangat bermanfaat dalam pengambilan keputusan.
        </p>
        <p style="text-indent: 20px;">
            SPLDV menjadi jembatan menuju konsep-konsep matematika yang lebih lanjut, seperti sistem persamaan nonlinear, kalkulus, dan statistik. Dengan memahami SPLDV, siswa lebih siap untuk menghadapi tantangan di tingkat pendidikan yang lebih tinggi.
        </p>
    </div>
</div>
