<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Dalam bentuk \(x+a=b\), nilai \(x\) dapat diperoleh dengan memindahkan \(a\) dari ruas kiri ke ruas kanan. 
            Langkah ini dilakukan dengan menambahkan invers dari \(a\) ke kedua ruas, sehingga menghasilkan:
        </p>
        <p class="text-center justify-center">
            \(x+a=b\)
        </p>
        <p class="text-center justify-center">
            \(\iff (x+a)+(-a)=b+(-a)\)
        </p>
        <p class="text-center justify-center">
            \(\iff x+(a+(-a))=b+(-a)\)
        </p>
        <p class="text-center justify-center">
            \(\iff x+0=b+(-a)\)
        </p>
        <p class="text-center justify-center">
            \(\iff x=b+(-a)\)
        </p>
        <p style="text-indent: 20px;">
            Langkah-langkah ini menunjukkan bahwa prinsip pemindahan bilangan dalam penjumlahan, yaitu mengubah tanda bilangan ketika berpindah ruas, berlaku secara konsisten. Prinsip ini sangat penting dalam menyelesaikan berbagai bentuk persamaan linier satu variabel.
        </p>
        <p style="text-indent: 20px;">
            Setelah memahami penyelesaian bentuk 2, pembahasan dapat dilanjutkan ke bentuk 3, yang melibatkan penjumlahan atau pengurangan beberapa suku variabel. 
            Secara umum, bentuk 3 dapat ditulis sebagai \(ax+bx=c\), dimana \(a\neq 0\) dan \(b\neq 0\) adalah koefisien variabel, \(x\) dan \(c\) adalah konstanta.
        </p>
        <p style="text-indent: 20px;">
            Untuk menyelesaikan bentuk ini, langkah pertama adalah menyederhanakan ruas yang mengandung variabel dengan menjumlahkan koefisiennya. 
            Setelah itu, persamaan akan kembali menyerupai bentuk dasar 1 atau bentuk 2, yang dapat diselesaikan dengan prinsip yang sama. Bentuk ini dapat disusun ulang dengan memanfaatkan sifat distributif, menghasilkan: 
        </p>
        <p class="text-center justify-center">
            \(ax+bx=(a+b)x\)
        </p>
    </div>
</div>
