<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p>
            1. Komutatif pada penjumlahan: untuk setiap dua bilangan rasional \(x,y\) berlaku \(x+y=y+x\)
        </p>
        <p style="margin-top: 10px;">
            2. Komutatif pada perkalian: untuk setiap dua bilangan rasional \(x,y\) berlaku \(xy=yx\)
        </p>
        <p style="margin-top: 10px;">
            3. Penjumlahan asosiatif: untuk setiap tiga bilangan rasional \(x,y,z\) berlaku \((x+y)+z=x+(y+z)\)
        </p>
        <p style="margin-top: 10px;">
            4. Perkalian asosiatif: untuk setiap tiga bilangan rasional \(x,y,z\) berlaku \((xy)z=x(yz)\)
        </p>
        <p style="margin-top: 10px;">
            5. Distributif: untuk setiap tiga bilangan rasional \(x,y,z\) berlaku \((x+y)z=xz+yz\)
        </p>
        <p style="margin-top: 10px;">
            6. Identitas penjumlahan: Terdapat \(0\) di bilangan rasional sehingga berlaku \(x+0=x\), untuk setiap \(x\) di bilangan rasional.
        </p>
        <p style="margin-top: 10px;">
            7. Identitas perkalian : Terdapat \(1\) di bilangan rasional sehingga berlaku \(x.1=x\), untuk setiap \(x\) di bilangan rasional. 
        </p>
        <p style="margin-top: 10px;">
            8. Invers elemen pada penjumlahan: untuk setiap bilangan rasional \(x\) terdapat bilangan \(-x\) di bilangan rasional sehingga \(x+(-x)=0\).
        </p>
        <p style="margin-top: 10px;">
            9. Invers elemen tak nol pada perkalian: untuk setiap \(x\neq 0\), terdapat \(\frac{1}{x}\) di bilangan rasional sehingga berlaku \(x\frac{1}{x}=1\).
        </p>
        <p style="text-indent: 20px;">
            Sifat-sifat di atas akan digunakan untuk mengubah bentuk persamaan sehingga didapat persamaan yang berbentuk \(x=a\) dimana \(a\) adalah suatu konstanta/bilangan yang sudah diketahui nilainya.
            <strong>Persamaan atau kesamaan satu variabel</strong> dapat memiliki berbagai bentuk, tergantung pada susunan bilangan, variabel, dan operasi matematis yang terkandung di dalamnya. 
            Bentuk-bentuk tersebut biasanya muncul pada salah satu atau kedua ruas persamaan dan menjadi dasar bagi jenis-jenis persamaan yang lebih kompleks.
        </p>
    </div>
</div>
