<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Proses penyelesaian persamaan atau kesamaan satu variabel dimulai dengan memahami bentuk dasar yang muncul pada salah satu ruas persamaan (ekspresi aljabar), yang memiliki pola atau struktur tertentu, baik di ruas kiri maupun di ruas kanan.
            Berikut ini adalah tiga bentuk dasar yang memuat satu variabel dalam persamaan:
        </p>
        <p>
            1. Perkalian bilangan dengan variabel, atau
        </p>
        <p style="margin-top: 10px;">
            2. Penjumlahan antara bilangan dan hasil perkalian bilangan dengan variabel, atau
        </p>
        <p style="margin-top: 10px;">
            3. Penjumlahan antara hasil perkalian bilangan dengan variabel.
        </p>
        <p style="text-indent: 20px;">
            Sebagai ilustrasi, di bawah ini diberikan contoh bentuk-bentuk yang mungkin terdapat pada ekspresi aljabar :
            \[4x (1)\] \[2x+4 (2)\] \[5x+3x (3)\]
        </p>
        <p style="text-indent: 20px;">
            Berdasarkan bentuk-bentuk dasar tersebut, persamaan satu variabel dapat dikembangkan menjadi kombinasi atau gabungan dari beberapa jenis bentuk dasar. Berikut adalah jenis-jenis persamaan satu variabel yang dirangkum dalam tabel:
        </p>
    </div>
</div>
