<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p class="font-bold">3. Metode Eliminasi  (Awal Abad ke-19)</p>
        <p style="text-indent: 20px;">
            Metode eliminasi, yang dikenal sebagai metode Gauss, dinamakan setelah Carl Friedrich Gauss yang mengembangkan teknik ini pada awal abad ke-19. 
            Meskipun ide dasar penyelesaian dengan eliminasi telah ada sebelumnya, Gauss memberikan formalitas dan aplikasi yang lebih sistematis. Dengan perkembangan notasi aljabar dan kemampuan menghitung yang lebih baik, 
            metode ini menjadi lebih praktis dan efisien untuk menyelesaikan sistem persamaan yang lebih besar.
            <strong>Kelebihan</strong>: Sangat efektif untuk sistem dengan lebih dari dua persamaan dan variabel.
            <strong>Kekurangan</strong>: Memerlukan lebih banyak langkah perhitungan dan dapat menjadi rumit.
        </p>
        <p class="font-bold">4. Metode Matriks dan Determinan (Abad ke-19)</p>
        <p style="text-indent: 20px;">
            Konsep matriks dan determinan mulai berkembang pada abad ke-19, meskipun konsep dasar sudah ada dalam penghitungan sistem linear yang lebih awal. 
            Matematikawan seperti Arthur Cayley dan James Sylvester berkontribusi dalam merumuskan dan mengembangkan teori matriks. Konsep matriks dan determinan diperkenalkan, 
            memungkinkan pengelolaan sistem persamaan linear yang lebih kompleks menjadi lebih efisien.
            <strong>Kelebihan</strong>: Memudahkan penyelesaian sistem yang lebih besar dan lebih kompleks. Dapat dengan mudah diimplementasikan dalam perangkat lunak komputer.
            <strong>Kekurangan</strong>: Memerlukan pemahaman yang lebih dalam tentang aljabar matriks dan determinan.
        </p>
        <p class="font-bold">5. Metode Invers Matriks (Akhir Abad ke-19 hingga Awal Abad ke-20)</p>
        <p style="text-indent: 20px;">
            Pengembangan metode invers matriks juga terkait erat dengan kemajuan aljabar linier dan teori matriks di abad ke-19. 
            Matematikawan seperti Cayley menjelaskan konsep invers matriks, yang memungkinkan penyelesaian sistem persamaan dengan cara baru. 
        </p>
    </div>
</div>
