<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Problem dalam suatu persamaan adalah mencari bilangan/nilai/besaran untuk menggantikan posisi variabel dalam persamaan sehingga persamaan tersebut menjadi pernyataan yang bernilai benar. 
            Sebagai contoh dalam persamaan \[x+6=7\]
        </p>
        <p>
            Apabila  kita ganti dengan bilangan 1 maka persamaannya berubah menjadi \[1+6=7\]
        </p>
        <p>
            yang merupakan kalimat yang bernilai benar. Jadi dalam kasus ini jawaban dari persamaan \(x+6=7\) adalah 1. 
            Dengan kata lain nilai yang dicari untuk menggantikan variabel \(x\) dalam persamaan tersebut adalah 1.
            Dalam bentuk simbolik kita tulis \(x=1\). Perhatikan bahwa secara terpisah \(x=1\) juga merupakan suatu persamaan.
            Kita ketahui bahwa pertukaran dua ruas dari persamaan tidak mengubah makna/problem dari persamaan. Sebagai contoh persamaan \(x+6=7\) dapat ditulis menjadi \(7=x+6\) dan memiliki jawaban yang sama.
        </p>
        <p style="text-indent: 20px;">
            Nilai \(x\) dalam sebuah persamaan linear satu variabel dapat dihitung dengan memanfaatkan sifat dasar operasi dalam bilangan.
            Kita asumsikan bahwa bilangan yang belum diketahui \(x\) dan bilangan yang sudah diketahui dalam persamaan adalah bilangan rasional, yaitu bilangan yang dapat dituliskan sebagai
            \(\frac{a}{b}\)dengan \(a\) dan \(b\neq 0\) adalah bilangan bulat. Bilangan rasional bersama dengan operasi penjumlahan dan perkalian akan membentuk suatu sistem yang memiliki beberapa sifat penting. 
            Kita miliki bahwa sistem bilangan rasional memenuhi sifat:
        </p>
    </div>
</div>
