<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Silahkan untuk menentukan contoh dan bukan contoh untuk masing-masing kasus jenis SPLDV
        </p>

        <table class="border-collapse border border-slate-400 mx-auto">
            <thead>
                <tr>
                    <th class="border border-slate-300 p-1"></th>
                    <th class="border border-slate-300 p-1">Ada 1 Solusi</th>
                    <th class="border border-slate-300 p-1">Solusi Banyak</th>
                    <th class="border border-slate-300 p-1">Tidak ada solusi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="border border-slate-300 p-1">Contoh</th>
                    <td class="border border-slate-300 p-1">
                        \[
                            \left\{ \begin{array}{cl}
                            3x-4y & = 14 \\
                            2x-4y & = 12
                            \end{array} \right.
                        \]
                    </td>
                    <td class="border border-slate-300 p-1"></td>
                    <td class="border border-slate-300 p-1 text-center">
                        \[
                            \left\{ \begin{array}{cl}
                            3x-4y & = 14 \\
                            6x-8y & = 12
                            \end{array} \right.
                        \]
                    </td>
                </tr>
                <tr>
                    <th class="border border-slate-300 p-1">Bukan Contoh</th>
                    <td class="border border-slate-300 p-1 text-center"></td>
                    <td class="border border-slate-300 p-1">
                        \[
                            \left\{ \begin{array}{cl}
                            4x-3y & = 16 \\
                            8x-6y & = 16
                            \end{array} \right.
                        \]
                    </td>
                    <td class="border border-slate-300 p-1 text-center"></td>
                </tr>
            </tbody>
        </table>

        <p style="text-indent: 20px;">
            Diskusikanlah hasil jawabanmu Bersama teman sebelahmu  dan silahkan guru untuk memberikan penguatan.
        </p>
    </div>
</div>
