<div class="flex flex-col items-center justify-center h-full">
    <!-- Title -->
    <h1 class="text-lg font-bold text-center mb-8">
        III. Manfaat SPLDV
    </h1>

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p class="font-bold">A. Aplikasi SPLDV dalam Kehidupan Sehari-Hari </p>
        <p style="text-indent: 20px;">
            Sistem Persamaan Linear Dua Variabel (SPLDV) memiliki banyak aplikasi dalam kehidupan sehari-hari. Berikut adalah beberapa contoh bagaimana SPLDV digunakan dalam konteks sehari-hari:
        </p>
        <p style="margin-left: 20px;">
            1. Pengelolaan Keuangan Pribadi: Seseorang dapat menggunakan SPLDV untuk merencanakan anggaran bulanan mereka. Misalnya, jika seseorang memiliki dua sumber pendapatan dan beberapa pengeluaran tetap, 
            mereka dapat membuat persamaan untuk memastikan bahwa pendapatan mereka mencakup semua pengeluaran.
        </p>
        <p style="margin-left: 20px;">
            2. Pembelian Barang: Ketika membeli beberapa barang dengan harga berbeda, seseorang dapat menggunakan SPLDV untuk menghitung total biaya pembelian. Misalnya, jika seseorang membeli buku dan pensil dengan harga masing-masing, 
            mereka dapat menghitung jumlah total yang harus dibayar.
        </p>
        <p style="margin-left: 20px;">
            3. Perencanaan Menu Makanan: Dalam perencanaan menu untuk acara atau pesta, seseorang bisa menggunakan SPLDV untuk menentukan jumlah makanan dan minuman yang akan disiapkan berdasarkan jumlah tamu.
        </p>
        <p style="margin-left: 20px;">
            4. Waktu dan Jarak: Ketika merencanakan perjalanan, seseorang dapat menggunakan SPLDV untuk menghitung waktu perjalanan berdasarkan kecepatan dan jarak yang ditempuh.
        </p>
        <p style="margin-left: 20px;">
            5. Kesehatan dan Kebugaran: Dalam menjaga pola makan dan kesehatan, seseorang dapat menggunakan SPLDV untuk menghitung jumlah kalori yang diperlukan dari berbagai sumber makanan.
        </p>
    </div>
</div>
