<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Dalam kurikulum modern, penggunaan perangkat lunak matematis untuk menyelesaikan SPLDV semakin umum. Ini tidak hanya membuat proses pembelajaran lebih menarik, tetapi juga membekali siswa dengan keterampilan teknologi yang relevan dengan dunia kerja saat ini.
        </p>
        <p style="text-indent: 20px;">
            Pembelajaran SPLDV sering dilakukan dalam kelompok kecil, yang mendorong kolaborasi dan diskusi di antara siswa. Ini membantu siswa belajar dari satu sama lain, meningkatkan keterampilan komunikasi dan kerjasama.
        </p>
        <p style="text-indent: 20px;">
            Relevansi SPLDV dalam kurikulum sangat besar karena memberikan landasan yang kuat dalam matematika, keterampilan pemecahan masalah, dan kemampuan berpikir kritis. 
            Selain itu, SPLDV memiliki aplikasi luas dalam kehidupan sehari-hari dan berbagai bidang profesi, menjadikannya topik penting untuk dipelajari oleh siswa. Integrasi SPLDV dalam kurikulum juga mendukung perkembangan keterampilan teknologi yang semakin diperlukan dalam dunia modern.
        </p>
    </div>
</div>
