<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Kalimat 4 dan 5 memiliki perbedaan dari tiga kalimat pertama yaitu adanya perbandingan atau relasi kesamaan antara ekspresi aljabar dengan suatu bilangan. 
            Secara struktur kalimat 4 dan 5 kita tulis bentuk simbolik kalimatnya sebagai berikut
        </p>

        <table class="border-collapse border border-slate-400 mx-auto">
            <thead>
                <tr>
                    <th class="border border-slate-300 p-1">No</th>
                    <th class="border border-slate-300 p-1">Kalimat</th>
                    <th class="border border-slate-300 p-1">Ekspresi Aljabar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-slate-300 p-1 text-center" rowspan="5">4</td>
                    <td class="border border-slate-300 p-1">Suatu bilangan</td>
                    <td class="border border-slate-300 p-1 text-center">\(x\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">ditambah</td>
                    <td class="border border-slate-300 p-1 text-center">\(+\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">enam</td>
                    <td class="border border-slate-300 p-1 text-center">\(6\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">hasilnya</td>
                    <td class="border border-slate-300 p-1 text-center">\(=\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">tujuh</td>
                    <td class="border border-slate-300 p-1 text-center">\(7\)</td>
                </tr>

                <tr>
                    <td class="border border-slate-300 p-1 text-center" rowspan="5">5</td>
                    <td class="border border-slate-300 p-1">Dua kali suatu bilangan</td>
                    <td class="border border-slate-300 p-1 text-center">\(2x\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">ditambah</td>
                    <td class="border border-slate-300 p-1 text-center">\(+\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">empat</td>
                    <td class="border border-slate-300 p-1 text-center">\(4\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">adalah</td>
                    <td class="border border-slate-300 p-1 text-center">\(=\)</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 p-1">dua belas</td>
                    <td class="border border-slate-300 p-1 text-center">\(12\)</td>
                </tr>
            </tbody>
        </table>

        <p style="text-indent: 20px;">
            Bentuk kalimat simbolik no.4 dan 5 berturut-turut menjadi \(x+6\) dan \(2x+4=12\). 
            Bentuk simbolik di atas disebut persamaan yang diartikan sebagai suatu kalimat yang membandingkan kesamaan antara dua ekspresi aljabar ataupun antara ekspresi aljabar atau bilangan. 
            Simbol \(=\) biasa dibaca sebagai "sama dengan," yang menunjukkan bahwa dua ekspresi di kedua sisi simbol tersebut memiliki nilai yang sama. 
            Dalam konteks persamaan, bagian sebelah kiri dari simbol ini disebut ruas kiri, sedangkan bagian sebelah kanan disebut ruas kanan.
        </p>
    </div>
</div>
