<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Dengan penerapan metode ini, kemampuan untuk menyelesaikan sistem persamaan besar menjadi lebih praktis, khususnya dengan perkembangan komputer pada abad ke-20 yang memungkinkan perhitungan cepat. 
            <strong>Kelebihan</strong>: Sangat efisien untuk sistem besar dan mudah diimplementasikan dengan alat matematis modern.
            <strong>Kekurangan</strong>: Memerlukan matriks yang dapat diinversi dan pemahaman yang mendalam tentang teori matriks.
        </p>
        <p style="text-indent: 20px;">
            Perubahan metode penyelesaian SPLDV tidak hanya mencerminkan kemajuan dalam teknik matematika, tetapi juga mencerminkan perubahan dalam pemikiran matematis dan aplikasinya di berbagai bidang. 
            Dari metode grafis yang sederhana hingga metode matriks yang kompleks, setiap metode membawa warisan sejarah yang kaya, berkontribusi pada pemahaman yang lebih dalam tentang hubungan antara variabel dan penyelesaian masalah dalam kehidupan sehari-hari. 
            Dengan memahami sejarah ini, kita dapat menghargai perkembangan matematis yang telah membawa kita ke metode penyelesaian yang lebih efisien dan aplikatif saat ini. <u>Namun, pada modul ini yang akan digunakan sampai metode eliminasi karena siswa belum mengenal tentang aljabar matriks dan determinan</u>. 
            Flowchart ini mengilustrasikan bagaimana setiap metode berkembang seiring waktu dan memberikan gambaran yang jelas tentang perjalanan sejarah SPLDV
        </p>
    </div>
</div>
