<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p class="font-bold">B. Manfaat SPLDV dalam Pembelajaran</p>
        <p style="text-indent: 20px;">
            Belajar Sistem Persamaan Linear Dua Variabel (SPLDV) memiliki banyak fungsi dan manfaat, baik dalam konteks pendidikan matematika maupun dalam kehidupan sehari-hari. Berikut adalah beberapa fungsi dan manfaat dari mempelajari SPLDV:
        </p>
        <p style="margin-left: 20px;">
            1. Kemampuan Penalaran Matematis
        </p>
        <p style="margin-left: 20px;">
            SPLDV melibatkan proses berpikir kritis di mana siswa dituntut untuk membuat keputusan yang logis dan dapat dipertanggungjawabkan. Misalnya, siswa harus mampu menentukan hubungan antara dua variabel dan mengevaluasi setiap langkah penyelesaian. 
            Kemampuan ini melatih siswa untuk berpikir jernih dan kritis, penting untuk menghadapi tantangan kompleks di dunia nyata. Tidak mungkin seseorang menjadi problem solver yang efektif tanpa penalaran yang berjalan dengan baik, 
            karena berpikir kritis dan logis adalah dasar dari kemampuan problem solving.
        </p>
        <p style="margin-left: 20px;">
            2. Penerapan dalam Berbagai Bidang
        </p>
        <p style="margin-left: 20px;">
            a) Ekonomi : Dalam ekonomi, SPLDV sering digunakan untuk menganalisis hubungan antara biaya dan pendapatan. Misalnya, perusahaan dapat menggunakan persamaan untuk menggambarkan biaya tetap dan variabel dalam produksi, serta pendapatan dari penjualan produk. 
            Dengan demikian, perusahaan dapat menentukan titik impas (break-even point) di mana biaya sama dengan pendapatan.
        </p>
    </div>
</div>
