<div class="flex flex-col items-center justify-center h-full">

    <!-- Paragraph Content -->
    <div class="text-sm text-justify leading-relaxed mx-8 space-y-4">
        <p style="text-indent: 20px;">
            Pemahaman lebih lanjut bagaimana prinsip-prinsip pemindahan bilangan dalam persamaan linier dapat dilakukan dengan meninjau bentuk-bentuk dasar yang telah dijelaskan sebelumnya. 
            Salah satu bentuk dasar tersebut adalah <strong>bentuk 1</strong>, yang secara umum dapat ditulis sebagai \(ax\),dimana \(a\) adalah bilangan yang diketahui, dan \(x\) adalah variabel yang dicari.
            Bentuk 1 merupakan persamaan linier paling sederhana yaitu \(ax=c\) dimana \(x\) hanya memiliki satu koefisien yaitu \(a\neq 0\), dan satu konstanta \(c\). 
            Penyelesaian dilakukan dengan menggunakan prinsip pemindahan bilangan dalam perkalian. Berikut ini adalah pembahasan penyelesaian persamaan linier berdasarkan nomor 1 pada tabel, 
            sekaligus membuktikan prinsip pemindahan bilangan dalam perkalian.
        </p>
        <p class="text-center justify-center">
            \(ax=c\) dengan \(c\neq 0\)
        </p>
        <p class="text-center justify-center">
            \(\iff (\frac{1}{a})ax=\frac{1}{a}c\)
        </p>
        <p class="text-center justify-center">
            \(\iff x=\frac{1}{a}c\)
        </p>
        <p style="text-indent: 20px;">
            Penyelesaian bentuk 1 selalu melibatkan pembagian sederhana, dengan catatan bahwa koefisien \(a\neq 0\). 
            Prinsip ini menjadi dasar dalam menyelesaikan persamaan linier satu variabel yang lebih kompleks.
        </p>
        <p style="text-indent: 20px;">
            Setelah memahami penyelesaian bentuk 1, pembahasan dapat dilanjutkan ke bentuk 2, yang secara umum dapat ditulis sebagai \(x+a\),dimana \(a\) adalah bilangan yang diketahui, dan \(x\) adalah variabel yang dicari.
            Berikut ini adalah pembahasan penyelesaian persamaan linier berdasarkan nomor 2 pada tabel, sekaligus membuktikan prinsip pemindahan bilangan dalam penjumlahan.
        </p>
    </div>
</div>
